parsed_videos.json
parsed_video_info.json
raw_data
.ipynb_checkpoints
raw_data_no_labels.csv
raw_data.feather
raw_with_label_old.csv
raw_with_label.ods
no_label_excel.xlsx
active_label.csv
active_labels1_done.csv
data_labels_old.csv
Outputs
